.content {
    margin-top: 50px;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: container;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
.search {
    padding-bottom: 40px;
}

.commentDiv {
	text-align: center;
	width: 27em;
	padding: 1em 1em;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	border-radius: 1em;
}
.comInput, .searchInput{
	margin-bottom: 2em;
	margin-top: 2em;
}
 .infoFt{
 	color: #fff;
 }